#modalContainer(style='display:none')
    #modal
        img(src='/images/modal-logo.png')
        h3 Influencing Change for Young Carers
        p
            | Add your pledge pin to the map to tell us what you’re going 
            | to be doing to influence change for young carers.
        a#modalClose.button(href='#') Continue
