#modalContainer(style='display:none')
    #modal
        img(src='/images/modal-logo.png')
        h3 Influencing Change for Young Carers
        p
            | Hi and welcome to the Influencing Change for Young Carers map.
            | On this map of the UK we’re recording activities being undertaken 
            | across England to influence change for young carers and their families 
            | to include schools, health services, Local Authorities/social care. 
            | If you’re a young carer yourself, then we also want you to add your 
            | pledge to tell us how you’re influencing change too.
        p
            | So click [Continue] and add your pledge pin to the map to tell us 
            | what you’re going to be doing to influence change for young carers.
        a#modalClose.button(href='#') Continue
