#about.content
    p
        | Young Carers in Focus (YCiF) empowers young carers to have a 
        | say about their lives and facilitate change at a local and national level.
    p
        | The Young Carers in Focus (YCiF) programme, led by The Children's Society,
        | brings partners together from YMCA Fairthorne Manor, DigitalMe, Rethink 
        | Mental Illness and The Fatherhood Institute, funded by Big Lottery.
    p
        | Over 4 years, young carers will be given the skills and confidence to 
        | communicate, share stories and campaign for the things that matter most
        | to them, through running their own safe social network. 
        | They are also informing policy and decision makers about the changes 
        | they want to see at local and national level.
    p
        | The programme is open to schools and projects that aim to connect with
        | young carers and engage with issues that concern them.
