#search.content
    form#searchPledges(action='/searchPledges', method='post', accept-charset='utf-8')
        input(type='hidden', name='_csrf', value='{{ csrfToken }}')
        h2 Search for Pins and Topics
        #searchBox
            i.icon-search
            input#searchInput.required(type='text', name='search', value='', dir='auto', aria-label='Search ', aria-required='true', required='', placeholder='', title='')
    #searchFilters
        h2 Filter Pins by Time:
        a.filter.time.active(href='#', data-time='all')
            span
                span.calendarAll
            span All Pledges
        a.filter.time(href='#', data-time='today')
            span
                span.calendarToday
            span Pledges Today
        a.filter.time(href='#', data-time='month')
            span
                span.calendarMonth
            span Pledges this Month
        a.filter.time(href='#', data-time='year')
            span
                span.calendarYear
            span Pledges this Year
        .clearfix
        h2 Filter Pins by Country:
        select#country
            option(value='All') All
            option(value='England') England
            option(value='Northern Ireland') Northern Ireland
            option(value='Scotland') Scotland
            option(value='Wales') Wales
        .clearfix
        h2 Filter Pins by Means of Influencing Change:
        a.filter.means(href='#', data-means='Don’t Know')
            span
                span.donTKnow
            span Don’t Know
        a.filter.means(href='#', data-means='Fund Raise')
            span
                span.fundRaise
            span Fund Raise
        a.filter.means(href='#', data-means='Implement Changes To Policy')
            span
                span.implementChangesToPolicy
            span Implement Changes To Policy
        a.filter.means(href='#', data-means='Put On An Event')
            span
                span.putOnAnEvent
            span Put On An Event
        a.filter.means(href='#', data-means='Raise Public Awareness')
            span
                span.raisePublicAwareness
            span Raise Public Awareness
        a.filter.means(href='#', data-means='Something Else')
            span
                span.somethingElse
            span Something Else
        a.filter.means(href='#', data-means='Speak Out')
            span
                span.speakOut
            span Speak Out
        a.filter.means(href='#', data-means='Use Signatures')
            span
                span.useSignatures
            span Use Signatures
        a.filter.means(href='#', data-means='Young Carer’s In Schools Award - Apply')
            span
                span.youngCarerSInSchoolsAwardApply
            span Young Carer’s In Schools Award - Apply
        a.filter.means(href='#', data-means='Young Carer’s In Schools Award - Next Level')
            span
                span.youngCarerSInSchoolsAwardNextLevel
            span Young Carer’s In Schools Award - Next Level
    #searchResults(style='display:none')
        h2 Results
        p
            | We have found 
            strong
                span#searchTermCount
            |  pins related to your search term 
            strong
                | "
                span#searchTerm
                | "
        ul#searchResultsList
